h1 {
    color: #0066ff
  }

body {
  padding-top: 70px;
  background-color: darkgray;

}

h2 {
  background-color: black;
/* this is a test */
}

/* .dropdown-menu {
  background-color: darkgray;
} */